.addional_view{
    margin-top: 20px;
}
.title{
    margin-left: 100px;
    padding-bottom: 20px;
}
.product_detail{
    display: flex;
    margin: 0 auto;
}
.pro_fetched{
    width: 50% !important;
}
.loading_detail{
    margin-left: 40px;
}