.header{
    height: 60px;
    display: flex;
    align-items: center;
    /* background-color: #131921; */
    background-color: #00453e;
    position: sticky;
    top: 0;
    z-index: 100;
}
.header__logo{
    width: 100px;
    object-fit: contain;
    margin: 18px 20px 0;
}
.header__searchIcon{
    padding: 5px;
    height: 32px !important;
    background-color: #cd9042;
    width: 40px !important;
    border-top-right-radius: 5px;
}
.header__searchIcon:hover{
   
    background-color: #d6861c;
   
}
.header__search{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}
.header__searchInput{
    height: 32px;
    padding: 10px;
    border: none;
    width: 100%;
}
.header__option{
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    color: white;
}
.header__nav{
    display: flex;
    justify-content: space-evenly;
}
.header__optionLineOne{
    font-size: 10px;
}
.header__optionLineTwo{
    font-size: 13px;
    font-weight: 800;
}
.header__optionBasket{
    display: flex;
    align-items: center;
    color: white;
}
.header__basketCount{
    margin: 0 10px;
}
.header__clearLink{
    text-decoration: none;
}
/* for search dropdown
 */
 #dropdown-basic{
    padding: 0 ;
    margin: 0;
    background-color: rgb(226, 213, 213);
    z-index: 101;
 }
 .drop__down{
    z-index: 20;
 }
 .drop__downBasic{
    border: 1px solid rgb(226, 213, 213);
    background-color: rgb(226, 213, 213);
    border-top-left-radius: 5px;
    height: 32px;
    width: 40px;
    padding: 0 5px;
 }
 /* delivery__location */
 .delivery__location{
    border: 1px solid #00453e;
 }
 .delivery__location:hover{
    border: 1px solid white;
    cursor: pointer;
 }
 .header__itemsBorder{
    border: 1px solid #00453e;
    padding: 2px;
 }
 .header__itemsBorder:hover{
    border: 1px solid white;
    cursor: pointer;
 }
 .flag{
    max-width: 20px;
    padding-top: 5px;
 }

