.sub__header{
    /* background-color: #293647; */
    background-color: #1a2533;
    color: white;
    display: flex;
    padding: 5px;
    position: sticky;
    top: 60px;
    z-index: 10;
}
.all__list{
     color: white;
      border: 1px solid #1a2533;
      padding: 0 3px;
}
 .all__list:hover{
    border: 1px solid white;
 }
.lists{
    display: flex;
    justify-content: space-evenly;
    margin-left: 10px;
    width: 100%;
    font-size: small;
    /* padding: 3px; */
}
.lists div{
color: white;
border: 1px solid #1a2533;
padding: 5px;
}
.lists div:hover{
border: 1px solid white;

}