*{
  margin: 0;
  padding: 0;
}
button:hover{
    transform: scale(1.01);
    cursor: pointer;
}
button:active {
  /* CSS properties for button when clicked */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
a{
  text-decoration: none;
}
p {
    margin-bottom: 0rem !important;
}
/* body{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
} */
body {
  background-color: #eaeded;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}